__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.venv
.env
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
fideas-react-ui
tests/htmlcov
logs/*.log
database/logs
.fideas